<tb-form model="Model">
    <div class="modal-header">
        <button type="button" class="close" ng-click="closePopup()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">New thing</h3>
    </div>
    <div class="modal-body">
        <tb-simple-editor name="Name" show-label="true"
                          placeholder=""
                          required="true"
                          read-only="false"></tb-simple-editor>
        <tb-numeric-editor name="Amount" show-label="true"
                           placeholder=""
                           required="true"
                           read-only="false"></tb-numeric-editor>
        <tb-date-time-editor name="Date" show-label="true"></tb-date-time-editor>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="savePopup()"
                ng-disabled="!Model.$valid()">
            Save
        </button>
        <button class="btn btn-danger" ng-click="closePopup()">
            Cancel
        </button>
    </div>
</tb-form>